include ../common/static


doctype html
html 
  head
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
    meta(charset="UTF-8")
    +css("base.css")
    block head
  body
    nav.nav-bar
      h1.strong Freeze It
    block body
    block js
