global-reset()

*
  box-sizing:border-box
  -webkit-touch-callout: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  

@font-face 
  font-family: circular-black
  src: url("../font/circular-black.ttf")
  
  
@font-face 
  font-family: circular-bold
  src: url("../font/circular-bold.ttf")
  

html, body
  width:100%
  font-family: circular-bold
  
.strong
  font-family: circular-black
  
.hidden
  display: none 

.container
  margin: auto
  width: 100%
  max-width: 500px  
  
.full-width
  width: 100%
  
img
  background-color: #fafafa
  
nav.nav-bar
  line-height: 60px
  height: 60px
  margin-bottom: 30px
  border-bottom: 1px solid #cccccc
  h1
    margin: auto
    text-align: center
    font-size: 25px

