global-reset()

*
  box-sizing:border-box
  -webkit-touch-callout: none
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  

html, body
  width:100%
 

.hidden
  display: none 

.container
  margin: auto
  width: 100%
  max-width: 500px  
  
.full-width
  width: 100%
  
img
  background-color: #fafafa
  
nav.nav-bar
  height: 60px
  margin-bottom: 30px
  border-bottom: 1px solid #cccccc
